{{> admin/header}}
{{> admin/nav}}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>{{this.title}}</h2>
                           </div>
                        </div>
                     </div>
                  {{#with response}}
                      <div class='alert alert-success text-center'>{{success}}</div>
                  {{/with}}
                
      <form class="row g-3" action="" method="POST">
                         
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputEmail4" name="title" value="">

  </div>
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputPassword4" name="email" value="">
  </div>

  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="pwd" value="">
  </div>
    <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="pwd2" value="">
  </div>
  
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary" name="submit">Save</button>
  </div>
</form>

                    </div>
                     
                  </div>
                  <!-- footer -->
               {{> admin/footer}}