{{> admin/header}}
{{> admin/nav}}
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     
                      {{#each msg}}
                    <div class='alert alert-danger'>{{msg}}</div>
                   {{/each}}  
                   
                   {{#if imgmsg}}
<div class='alert alert-danger'>{{imgmsg}}</div>
                    {{/if}}
                    
                    {{#if response}}
<div class='alert alert-success'>{{response}}</div>
                    {{/if}}
                    <div class="row column">

                    
                    
      <form class="row g-3" action="" method="POST" enctype="multipart/form-data">
                          
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Post Title</label>
    <input type="text" class="form-control" id="inputEmail4" name="title" required="">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputPassword4" name="name" required="">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Content Body</label>
<textarea class="form-control"  rows="7" name="content" required=""> </textarea>
  </div>
  <div class="col-12">

  <label for="formFileLg" class="form-label">File Upload</label>
  <input class="form-control form-control-lg" id="formFileLg" type="file" name="image" required="">
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  </div>
</form>
                    </div>
                     
                  </div>
                  <!-- footer -->
               {{> admin/footer}}